<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-router-simple-spa</title>
</head>

<body>
    <div id="app">
        <nav>
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザ一覧ページ</router-link>
            <router-link to="/users/new?redirect=true">新規ユーザ作成</router-link>
            <router-link to="/login" v-show="!Auth.loggedIn()">ログイン</router-link>
            <router-link to="/logout" v-show="Auth.loggedIn()">ログアウト</router-link>
        </nav>
        <router-view></router-view>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script type="text/x-template" id="user-list">
        <div>
            <div class="loading" v-if="loading">読込中...</div>
            <div v-if="error" class="error">{{error}}</div>
            <div v-for="user in users" :key="user.id">
                <h2>{{user.name}}</h2>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="user-detail">
        <div>
            <div class="loading" v-if="loading">読込中...</div>
            <div v-if="error" class="error">{{error}}</div>
            <div v-if="user">
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="user-create">
        <div>
            <div class = "sending" v-if="sending">Sending...</div>
            <div>
                <h2>新規ユーザ作成</h2>
                <div>
                    <label>名前：</label>
                    <input type="text" v-model="user.name">
                </div>
                <div>
                    <label>説明文：</label>
                    <textarea v-model="user.description"></textarea>
                </div>
                <div v-if="error" class="error">
                    {{error}}
                </div>
                <div>
                    <input type="button" @click="createUser" value="送信">
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="login">
        <div>
            <h2>Login</h2>
            <p v-if="$route.query.redirect">
                ログインしてください．
            </p>
            <form @submit.prevent="login">
                <label><input v-model="email" placeholder="email"></label>
                <label><input v-model="pass" placeholder="password" type="password"></label>
                <br>
                <button type="submit">ログイン</button>
                <p v-if="error" class="error">ログインに失敗しました．</p>
            </form>
        </div>
    </script>

    <script>
        let userData = [
            {
                id: 1,
                name: 'Takuya Tejima',
                description: '東南アジアで働くエンジニアです。'
            },
            {
                id: 2,
                name: 'Yohei Noda',
                description: 'アウトドア・フットサルが趣味のエンジニアです。'
            }
        ]

        const getUsers = function (callback) {
            setTimeout(function () {
                callback(null, userData)
            }, 1000)
        }

        const getUser = function (userid, callback) {
            setTimeout(function () {
                const filterdUsers = userData.filter(user => user.id === parseInt(userid, 10))
                callback(null, filterdUsers && filterdUsers[0])
            })
        }

        const postUser = function (params, callback) {
            setTimeout(function () {
                params.id = userData.length + 1
                userData.push(params)
                callback(null, params)
            }, 1000)
        }

        const Auth = {
            login: function (email, pass, cb) {
                setTimeout(function () {
                    if (email === "vue@examle.com" && pass === "vue") {
                        localStorage.token = Math.random().toString(36).substring(7)
                        if (cb) {
                            cb(ture)
                        } else {
                            cb(false)
                        }
                    }
                }, 0)
            },
            logout: function () {
                delete localStorage.token
            },

            loggedIn: function () {
                return !!localStorage.token
            }
        }

        const UserCreate = {
            template: "#user-create",
            data: function () {
                return {
                    sending: false,
                    user: this.defalutUser(),
                    error: null
                }
            },
            created: function () {
            },
            methods: {
                defalutUser: function () {
                    return {
                        name: "",
                        description: ""
                    }
                },
                createUser: function () {
                    if (this.user.name.trim() === "") {
                        this.error = "nameは必須"
                        return
                    }
                    if (this.user.description.trim() === "") {
                        this.error = "descriptionは必須"
                        return
                    }
                    postUser(this.user, function (err, user) {
                        this.sending = false
                        if (err) {
                            this.error = err.toString
                        } else {
                            this.error = null
                            this.user = this.defalutUser()
                        }
                    })
                },
            }
        }

        // templateの拡張
        const UserList = {
            template: '#user-list',
            data: function () {
                return {
                    loading: false,
                    users: function () {
                        return []
                    },
                    error: null
                }
            },

            created: function () {
                this.fetchData()
            },

            watch: {
                '$route': 'fetchData'
            },

            methods: {
                fetchData: function () {
                    this.loading = true
                    getUsers((function (err, users) {
                        this.loading = false
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this))
                }
            }
        }

        const UserDetail = {
            template: "#user-detail",
            data: {
                function() {
                    return {
                        loading: false,
                        user: null,
                        error: null
                    }
                }
            },
            created: function () {
                this.fetchData()
            },
            watch: {
                "$route": "fetchData"
            },
            methods: {
                fetchData: function () {
                    this.loading = true
                    getUser(this.$route.params.UserID, function (err, user) {
                        this.loading = false
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this)
                }
            }
        }

        const Login = {
            template: "#login",
            data: function () {
                return {
                    email: "vue@example.com",
                    pass: "",
                    error: false
                }
            },
            methods: {
                login: function () {
                    Auth.login(this.email, this.pass, (function (loggedIn) {
                        if (!loggedIn) {
                            this.error = true
                        } else {
                            this.$route.replace(this.$route.replace.redirect || "/")
                        }
                    }).bind(this))
                }
            }
        }

        let router = new VueRouter({
            routes: [
                {
                    path: "/top",
                    component: {
                        template: "<div>トップページです．</div>"
                    }
                },
                {
                    path: "/users",
                    component: UserList
                },
                {
                    path: "/users/new",
                    component: UserCreate,
                    beforeEnter: function (to, from, next) {
                        if (!Auth.loggedIn()) {
                            next({
                                path: "/login",
                                query: { redirect: to.fullPath }
                            })
                        } else {
                            next()
                        }
                    },
                },
                {
                    path: "/users/:UserID",
                    component: UserDetail
                },
                {
                    path: "/login",
                    component: Login
                },
                {
                    path: "/logout",
                    beforeEnter: function (to, from, next) {
                        Auth.logout()
                        next("/")
                    }
                }
            ]
        })

        let app = new Vue({
            router: router
        }).$mount("#app")

    </script>
</body>

</html>